@font-face{
    font-family:'digital-clock-font';
    src: url("/fonts/digital-7/digital-7\ \(mono\).ttf");
   }
body {
    margin: 0;
    background-image: url("/images/image.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B244A;
    height : 230px;
    text-align: center;
    width: 500px;
    color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.input{
    margin-top: -15px;
    background-color: #080001;
    height: 40px;
    color: red;
    text-align: center;
    font-family:'digital-clock-font';
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    background-color: #1B244A;
    border: solid #9AABD8;
    color: #9AABD8;
    height: 25px;
}
.rohit{
   align-self: center;
   background-color: #1B244A;
   display: flex;
   justify-content: center;
   height : 40px;
   width: 500px;
   margin-left: auto;
   margin-right: auto;

}
button:hover{
    height: 22px;
}
